body {
	font-family: 微軟正黑體;
}

/*about*/

section#about {
	background-image: url(image/bg_12.jpg);
	background-size: cover;
}

section#about .wrap-headline {
	position: relative;
	padding-top: 25%;
	padding-bottom: 10%
}

section#about h2 {
	color: #ffffff;
}

section#about hr {
	width: 10%;
	border-top-color: #ffffff;
}

section#about label{
	margin: 10px;
}

/*footer*/

footer {
	height: 12em;
	padding: 2em;
	background-image: url(image/eg_bg_3.jpeg);
	background-size: 100%;
	background-position: center center;
	z-index: -1;
	float: center;
	text-align: center;
}

#footer_p {
	font-size: 0.8em;
	margin: 0.8em;
	color: #ffffff;
}


/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}



/*video*/



video {
	position: absolute;
}


/*teachers*/

section#teachers {
	background-image: url(image/bg_10.jpg);
	background-size: cover;
}

section#teachers .wrap-headline {
	position: relative;
	padding-top: 25%;
	padding-bottom: 10%
}

section#teachers h2 {
	color: #ffffff;
}

section#teachers hr {
	width: 10%;
	border-top-color: #ffffff;
}

section#teachers label{
	margin: 10px;
}

/*wish*/

section#wish {
	padding-top: 5%;
	padding-bottom: 5%;
}