body {
	font-family: 微軟正黑體;
}

/*video*/

section#video {
  padding-top: 3%;

}

#_video {
  position: absolute;
  padding-left: 7%;
  padding-bottom: 7%;
}



/*about*/

section#about {
	background-image: url(image/bg_12.jpg);
	background-size: cover;
}

section#about .wrap-headline {
	position: relative;
	padding-top: 25%;
	padding-bottom: 10%
}

section#about h2 {
	color: #ffffff;
}

section#about hr {
	width: 10%;
	border-top-color: #ffffff;
}

section#about label{
	margin: 10px;
}


#timeline-background{ background: #ffffff;padding: 2em 0; }
    .main-timeline{
        width: 80%;
        margin: 20px auto;
        position: relative;
    }
    .main-timeline:before{
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: #b5b5b5;
        margin: 0 0 0 -1px;
        position: absolute;
        top: 0;
        left: 50%;
    }
    .main-timeline .timeline{
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }
    .main-timeline .timeline:after{
        content: "";
        display: block;
        clear: both;
    }
    .main-timeline .timeline-content{
        width: 40%;
        float: left;
        margin: 5px 0 0 0;
        border-radius: 6px;
    }
    .main-timeline .date{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #25303b;
        padding: 5px 0;
        margin: 0 0 0 -36px;
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        color: rgba(255,255,255,0.5);
        border: 2px solid rgba(255,255,255,0.2);
        box-shadow: 0 0 0 7px #25303b;
    }
    .main-timeline .date span{
        display: block;
        text-align: center;
    }

    .main-timeline .month{
        font-size: 14px;
    }
    .main-timeline .title{
        padding: 15px;
        margin: 0;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        border-radius: 6px 6px 6px 6px;
        position: relative;
    }
    .main-timeline .title:after{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 20px;
        right: -5px;
        transform: rotate(-45deg);
    }
    .main-timeline .description{
        padding: 15px;
        margin: 0;
        font-size: 16px;
        color: #656565;
        background: #fff;
        border-radius: 0 0 6px 6px;
    }
    .main-timeline .timeline:nth-child(2n+2) .timeline-content{
        float: right;
    }
    .main-timeline .timeline:nth-child(2n+2) .title:after{
        left: -5px;
    }
    .main-timeline .timeline:nth-child(1) .title,
    .main-timeline .timeline:nth-child(1) .title:after{
        background: #9f84c4;
    }
    .main-timeline .timeline:nth-child(2) .title,
    .main-timeline .timeline:nth-child(2) .title:after{
        background: #02a2dd;
    }
    .main-timeline .timeline:nth-child(3) .title,
    .main-timeline .timeline:nth-child(3) .title:after{
        background: #58b25e;
    }
    .main-timeline .timeline:nth-child(4) .title,
    .main-timeline .timeline:nth-child(4) .title:after{
        background: #eab715;
    }
    .main-timeline .timeline:nth-child(5) .title,
    .main-timeline .timeline:nth-child(5) .title:after{
        background: #9f84c4;
    }
    .main-timeline .timeline:nth-child(6) .title,
    .main-timeline .timeline:nth-child(6) .title:after{
        background: #02a2dd;
    }
    .main-timeline .timeline:nth-child(7) .title,
    .main-timeline .timeline:nth-child(7) .title:after{
        background: #58b25e;
    }
    .main-timeline .timeline:nth-child(8) .title,
    .main-timeline .timeline:nth-child(8) .title:after{
        background: #eab715;
    }
    .main-timeline .timeline:nth-child(9) .title,
    .main-timeline .timeline:nth-child(9) .title:after{
        background: #9f84c4;
    }
    .main-timeline .timeline:nth-child(10) .title,
    .main-timeline .timeline:nth-child(10) .title:after{
        background: #02a2dd;
    }
    .main-timeline .timeline:nth-child(11) .title,
    .main-timeline .timeline:nth-child(11) .title:after{
        background: #58b25e;
    }
    .main-timeline .timeline:nth-child(12) .title,
    .main-timeline .timeline:nth-child(12) .title:after{
        background: #eab715;
    }
    @media only screen and (max-width: 990px){
        .main-timeline{ width: 100%; }
    }
    @media only screen and (max-width: 767px){
        .main-timeline:before,
        .main-timeline .date{
            left: 6%;
        }
        .main-timeline .timeline-content{
            width: 85%;
            float: right;
        }
        .main-timeline .title:after{
            left: -5px;
        }
    }
    @media only screen and (max-width: 480px){
        .main-timeline:before,
        .main-timeline .date{
            left: 12%;
        }
        .main-timeline .timeline-content{
            width: 75%;
        }
        .main-timeline .date{
            width: 60px;
            height: 60px;
            margin-left: -30px;
        }
        .main-timeline .month{
            font-size: 14px;
        }
    }

/*wish*/

section#wish {
	padding-top: 5%;
	padding-bottom: 5%;
}

div.flip-3d {
	perspective: 1200px; 
	width: 98%; 
	float: left;
} 

div.flip-3d figure {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s transform;
  font-size: 1rem;
  text-align: left;
}
div.flip-3d figure img {
  width: 100%; height: auto;
}

div.flip-3d figure figcaption {
  position: absolute;
  width: 100%; height: 100%; top: 0;
  transform: rotateY(.5turn) translateZ(1px);
  background: rgba(255,255,255,0.9);
  text-align: left;
  padding-top: 35%;
  opacity: 0.6;
  transition: 1s .5s opacity;
  padding-left: 3%;
}

div.flip-3d:hover figure { transform: rotateY(.5turn); }
div.flip-3d:hover figure figcaption { opacity: 1; } 

div.flip-3d figure:after {
  content: " "; display: block;
  height: 8vw; width: 100%;
  transform: rotateX(90deg);
  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}

/*teacher*/

section#teacher {
  background-image: url(image/bg_2.jpg);
  background-size: cover;
}

section#teacher .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 3%
}

section#teacher h2 {
  color: #ffffff;
}

section#teacher hr {
  width: 7%;
  border-top-color: #ffffff;
}



section#teacher h4 {
  color: #ffffff;
}

#card-group-1 {
  margin:auto;
  width: 60%;
  height: 60%;

}




    .testimonial{
        background-color: #f3f3f3;
        border-radius: 5px;
        padding: 30px;
        margin: 0 15px;
        width: 500px;
        height: 230px;
        position: static;
    }
    .testimonial .testimonial-profile{
        width: 100px;
        height: 100px;
        margin: 0 30px 15px 0;
        float: left;
    }
    .testimonial .testimonial-profile img{
        width: 100%;
        height: auto;
   
    }
    .testimonial .testimonial-content{
        padding-left: 30%;
        position: relative;

    }

    @media only screen and (max-width: 990px){
        .testimonial{ width: 100%; }
        .testimonial .testimonial-content{
            width: 100%;
            float: left;
            margin-left: 2%;
           margin-top: -30%;
        }
    }
    @media only screen and (max-width: 767px){
        
        .testimonial .testimonial-content{
            width: 100%;
            float: left;
            margin-left: 2%;
           margin-top: -30%;
        }
        
    }
    @media only screen and (max-width: 480px){
        
        .testimonial .testimonial-content{
            width: 75%;
        }
        
    }

    .testimonial .testimonial-title{
        margin-bottom:0;
    }
    .testimonial .testimonial-title a{
        font-size:15px;
        color: #000000;
        letter-spacing:3px;
        display: block;
        text-transform: capitalize;
        margin-bottom:4px;
    }
    .testimonial .testimonial-post{
        display:block;
        color: #9c9c9c;
        margin-bottom:10px;
    }
    .testimonial .testimonial-post:after{
        content:"";
        width:100%;
        display: block;
        margin:10px 0 auto;
        border-top:1px solid #9c9c9c;
    }
    .testimonial .testimonial-description{
        color:#9c9c9c;
        font-size: 14px;
        line-height:23px;
    }
    .testimonial .social-links{
        padding:0;
        margin:0;
    }
    .testimonial .social-links li{
        list-style:none;
        margin-right:5px;
        display:inline-block;
    }
    .testimonial .social-links li a{
        width:30px;
        height:30px;
        line-height:30px;
        color:#fff;
        text-align:center;
        border:1px solid #9c9c9c;
    }
    .testimonial .social-links li a:hover{
        text-decoration: none;
    }
    .testimonial .social-links li a.fa-instagram:hover{
        background: #325c86;
        border-color: #325c86;
    }
    .testimonial .social-links li a.fa-twitter:hover{
        background: #5ea9dd;
        border-color: #5ea9dd;
    }
    .testimonial .social-links li a.fa-pinterest:hover{
        background: #cb2027;
        border-color: #cb2027;
    }
    .testimonial .social-links li a.fa-linkedin:hover{
        background: #0177b5;
        border-color: #0177b5;
    }

    @media screen and (max-width: 990px){
        
        .testimonial{
            margin: 0;
        }
    }
    .mt50{padding-top: 30px;}


/*footer*/

footer {
  height: 12em;
  padding: 2em;
  background-image: url(image/eg_bg_3.jpeg);
  background-size: 100%;
  background-position: center center;
  z-index: -1;
  float: center;
  text-align: center;
}

#footer_p {
  font-size: 0.8em;
  margin: 0.8em;
  color: #ffffff;
}


