body {
	font-family: 微軟正黑體;
}

/*about*/

section#about {
	background-image: url(image/bg_12.jpg);
	background-size: cover;
}

section#about .wrap-headline {
	position: relative;
	padding-top: 25%;
	padding-bottom: 10%
}

section#about h2 {
	color: #ffffff;
}

section#about hr {
	width: 10%;
	border-top-color: #ffffff;
}

section#about label{
	margin: 10px;
}

/*footer*/

footer {
	height: 12em;
	padding: 2em;
	background-image: url(image/eg_bg_3.jpeg);
	background-size: 100%;
	background-position: center center;
	z-index: -1;
	float: center;
	text-align: center;
}

#footer_p {
	font-size: 0.8em;
	margin: 0.8em;
	color: #ffffff;
}


/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}



/*video*/

section#video {
	background-image: url(image/bg_10.jpg);
	background-size: cover;
}

#_video {
	position: relative;
	padding-left: 7%;
	padding-bottom: 7%;
}




/*wish*/

section#wish {
	padding-top: 5%;
	padding-bottom: 5%;
}

div.flip-3d {
	perspective: 1200px; 
	width: 98%; 
	float: left;
} 

div.flip-3d figure {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s transform;
  font-size: 0.8rem;
  text-align: center;
}
div.flip-3d figure img {
  width: 100%; height: auto;
}

div.flip-3d figure figcaption {
  position: absolute;
  width: 100%; height: 100%; top: 0;
  transform: rotateY(.5turn) translateZ(1px);
  background: rgba(255,255,255,0.9);
  text-align: center;
  padding-top: 35%;
  opacity: 0.6;
  transition: 1s .5s opacity;
}

div.flip-3d:hover figure { transform: rotateY(.5turn); }
div.flip-3d:hover figure figcaption { opacity: 1; } 

div.flip-3d figure:after {
  content: " "; display: block;
  height: 8vw; width: 100%;
  transform: rotateX(90deg);
  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
}